.message {
  margin: 0;
  font: var(--mat-sys-body-large);
  color: var(--mat-sys-on-surface-variant);
}

.destructive {
  --mat-button-filled-container-color: var(--mat-sys-error);
  --mat-button-filled-label-text-color: var(--mat-sys-on-error);
}